.netrwhist
nvim/pack
vim/pack
vim/plugged

kde*
gtk*
plasma*

bash/atom
git/gitk
SEGGER/
Code/
QtProject.conf
SEGGER/
Trolltech.conf
VirtualBox/
akonadi*
akregatorrc
baloofilerc
bluedevilglobalrc
compiz-1/
dconf/
dragonplayerrc
drkonqirc
emaildefaults
emailidentities
evolution/
freerdp/
gedit/
gnome-control-center/
ibus/
kactivitymanagerdrc
kate*
kconf_updaterc
kglobalshortcutsrc
khotkeysrc
kmail2rc
kmixrc
konsolerc
korgacrc
krunnerrc
kscreenlockerrc
ksmserverrc
ktimezonedrc
kwalletrc
kwinrc
kwinrulesrc
libaccounts-glib/
libreoffice/
monitors.xml
nautilus/
powerdevilrc
powermanagementprofilesrc
pulse/
session/
specialmailcollectionsrc
startupconfig
startupconfigfiles
startupconfigkeys
totem/
unity/
user-dirs.dirs
user-dirs.locale
balena-etcher-electron

